<!-- write code to edit and save book i this component -->
<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/books']">
    <mat-icon>list</mat-icon>
  </a>
</div>
<form [formGroup]="updateBookForm" (ngSubmit)="onFormSubmit( updateBookForm.value.id , updateBookForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ISBN" formControlName="isbn"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!updateBookForm.get('isbn').valid && updateBookForm.get('isbn').touched">Please enter ISBN</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" formControlName="title"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!updateBookForm.get('title').valid && updateBookForm.get('title').touched">Please enter Book Title</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Author" formControlName="author"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!updateBookForm.get('author').valid && updateBookForm.get('author').touched">Please enter Book Author</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Description" formControlName="description"
              [errorStateMatcher]="matcher"></textarea>
    <mat-error>
      <span *ngIf="!updateBookForm.get('description').valid && updateBookForm.get('description').touched">Please enter Book Description</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Publisher" formControlName="publisher"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!updateBookForm.get('publisher').valid && updateBookForm.get('publisher').touched">Please enter Publisher</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Published Year" formControlName="published_year"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!updateBookForm.get('published_year').valid && updateBookForm.get('published_year').touched">Please enter Published Year</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!updateBookForm.valid" mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
    </button>
  </div>
</form>
